# ignore all folders in root except a few
*/**/*
!media/**
!packages/**
!scripts/**

# ignore everything under "media" except SVGs
media/**/*.*
!media/**/*.svg

# ignore everything under "packages" except certain files
packages/**/*.*
!packages/*/src/**/*.ts
!packages/*/src/**/*.tsx
!packages/*/*.js
!packages/*/*.json
!packages/*/*.md

# ignore everything under "scripts" except certain files
scripts/**/*.*
!scripts/**/*.js

# ignore debugging files
*.log
.eslintcache

# ignore editor folders and files
.idea
.vs
.vscode

# ignore node modules
node_modules
