.highlightArea {
    border-color: transparent !important;
    border-style: solid;
    border-width: 1px;
    box-sizing: border-box;
    color: transparent !important;
    display: inline-block;
    font-family: monospace;
    letter-spacing: normal;
    line-height: normal;
    overflow: hidden !important;
    overflow-wrap: break-word;
    padding: 2px;
    pointer-events: none !important;
    position: absolute !important;
    -webkit-rtl-ordering: logical;
    text-align: start;
    text-indent: 0;
    text-transform: none;
    white-space: pre-wrap;
    word-spacing: normal;
    writing-mode: horizontal-tb;
    z-index: 1 !important;

    mark {
        color: inherit !important;
        word-wrap: inherit !important;
    }
}
